<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" 
           modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="java"
                  arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar %HOME%\site\wwwroot\aofa-planner.jar"
                  startupTimeLimit="300"/>
  </system.webServer>
</configuration>